<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ArticleMapper">
    <resultMap id="articleResultMap" type="org.example.model.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="view_count" property="viewCount"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <select id="selectByTitle" resultMap="articleResultMap" parameterType="java.lang.String">
        select * from article where title=#{title};
    </select>
    <select id="selectLike" resultMap="articleResultMap">
        select
             *
             from article where
             title like #{username}
             and
             id in (#{sid},#{eid});
    </select>
    <insert id="insertArticle" parameterType="org.example.model.Article">
        insert into article(id,title,content) values (
        #{id},
        #{title},
        #{content}
        );
    </insert>

    <select id="selectWithId" parameterType="java.lang.Integer" resultMap="articleResultMap">
        select id,title,content,view_count,user_id,create_time
        from article
        where user_id=#{id};
    </select>

    <update id="updateArticle" parameterType="org.example.model.Article">
        update article set content=#{content} where id=#{id};
    </update>

    <delete id="deleteArticle" parameterType="java.lang.String">
<!-- 多表关联查询语句-->
        delete from article using article,user where article.user_id=user.id
        and user.username=#{username};
    </delete>

    <select id="selectArticleOrderBy" resultMap="articleResultMap">
        select * from article
        where title like #{title} and content like #{content} order by id ${By};
    </select>

</mapper>